@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Heavy.woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-black-webfont.woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/monumentextended-ultrabold-webfont.woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/monumentextended-regular-webfont.woff");
  font-weight: 400;
  font-style: normal; }
.header {
  min-width: 360px;
  width: 100%; }
  .header__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__title {
    width: 100px;
    height: 480px;
    background: #D1152E;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .header__title h4 {
      margin-top: 97px;
      margin-left: 15px;
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .header__title p {
      margin-top: -12px;
      margin-left: 15px;
      font-family: Geometria;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.05em;
      color: #FFFFFF; }
    .header__title h1 {
      margin-top: 78px;
      margin-left: 15px;
      width: 254px;
      font-family: Monument Extended;
      font-style: normal;
      font-weight: 900;
      font-size: 37px;
      line-height: 37px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      position: relative;
      z-index: 20;
      position: relative; }
      .header__title h1::before {
        content: "01 /10";
        font-family: Monument Extended;
        font-style: normal;
        font-weight: 900;
        font-size: 11px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        position: absolute;
        right: 96px;
        bottom: -28px; }
    .header__title h5 {
      margin-top: 132px;
      margin-left: 15px;
      font-family: Monument Extended;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF; }
    .header__title span {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #FFFFFF; }
  .header__background-img {
    height: 520px;
    -o-object-fit: cover;
       object-fit: cover; }
  .header__top-info {
    width: 97px;
    height: 480px;
    background: #252222;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative; }
  .header__list {
    display: none; }
  .header__year {
    margin-top: 64px;
    margin-right: 15px;
    font-family: Monument Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #787878; }
  .header__box {
    width: 37px;
    height: 244px;
    position: absolute;
    right: 15px;
    margin-top: 20px;
    border-collapse: collapse; }
  .header__box-1 {
    width: 44px;
    height: 240px;
    position: absolute;
    right: 7px;
    margin-top: 20px;
    display: none;
    border-collapse: collapse; }
  .header__box-2 {
    width: 44px;
    height: 240px;
    position: absolute;
    right: 7px;
    margin-top: 20px;
    display: none;
    border-collapse: collapse; }
  .header__box-3 {
    width: 44px;
    height: 240px;
    position: absolute;
    right: 7px;
    margin-top: 20px;
    display: none;
    border-collapse: collapse; }
  .header__box-4 {
    width: 379px;
    height: 109px;
    position: absolute;
    right: 255px;
    margin-top: 35px;
    display: none;
    border-collapse: collapse; }
  .header__block {
    border: 1px solid #4C4C4C;
    width: 6px;
    height: 6px;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
  .header__block:hover {
    background-color: #D1152E; }
  .header__block--red {
    background-color: #D1152E;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
  .header__box:hover .header__block--red {
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .header__box-1:hover .header__block--red {
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .header__box-2:hover .header__block--red {
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .header__box-3:hover .header__block--red {
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .header__box-4:hover .header__block--red {
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .header .header__block--red:hover {
    background-color: #D1152E; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Heavy.woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-black-webfont.woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/monumentextended-ultrabold-webfont.woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/monumentextended-regular-webfont.woff");
  font-weight: 400;
  font-style: normal; }
body {
  font-family: "Geometria", "montserrat", "Monument Extended";
  will-change: transform; }

.menu {
  min-width: 360px;
  width: 100%;
  height: 2095px;
  background: #252222;
  overflow: hidden;
  position: relative; }
  .menu .menu-inner {
    max-width: 360px;
    width: 100%;
    margin: 0 auto; }
  .menu .menu__block {
    border: 1px solid #4C4C4C;
    width: 6px;
    height: 6px;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
  .menu__first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 390px; }
  .menu__table {
    margin-top: 50px;
    margin-left: 30px;
    position: relative;
    z-index: 5;
    width: 190px;
    height: 55px;
    border-spacing: 0px;
    border-collapse: collapse; }
    .menu__table::before {
      content: "address";
      position: absolute;
      font-family: Monument Extended;
      font-style: normal;
      font-weight: 900;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: 0.05em;
      color: #787878;
      top: 69px;
      left: 1px; }
  .menu__table-1 {
    display: none; }
  .menu__table-2 {
    display: none; }
  .menu__table-3 {
    display: none; }
  .menu__picture {
    position: absolute;
    right: 0; }
  .menu__background-img {
    -o-object-fit: cover;
       object-fit: cover; }
  .menu__list {
    margin-top: -82px;
    margin-left: -24px; }
  .menu__ul {
    list-style-type: none; }
  .menu__li {
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    color: #A7A7A7;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 18px; }
  .menu__li--last {
    margin-top: 36px; }
  .menu .display {
    width: 290px;
    height: 520px;
    background: #000000;
    border-radius: 30px;
    border: 10px solid black;
    position: absolute;
    top: 77px;
    right: -60px;
    z-index: 20; }
    .menu .display__header {
      width: 290px;
      height: 93px;
      background: #FFFFFF;
      margin: 0 auto;
      border-radius: 25px 25px 0px 0px;
      overflow: hidden; }
    .menu .display__top {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 28px;
      padding-top: 11px;
      padding-bottom: 4px; }
      .menu .display__top::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        width: 288px;
        height: 1px;
        background-color: #E4E4E4; }
    .menu .display__burger-span {
      background: #000000;
      width: 20px;
      height: 1.75px;
      display: block;
      position: relative; }
      .menu .display__burger-span::before {
        content: "";
        display: block;
        background: #000000;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 6px; }
      .menu .display__burger-span::after {
        content: "";
        display: block;
        background: #000000;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 6px; }
    .menu .display__shop {
      width: 28px;
      height: 28px;
      border: 1px solid #E4E4E4;
      border-radius: 20px;
      position: relative;
      left: -13px; }
      .menu .display__shop::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: #D1152E;
        position: absolute;
        right: -16px;
        top: 4px;
        border-radius: 20px; }
      .menu .display__shop::before {
        position: absolute;
        content: "35";
        z-index: 1;
        top: 2px;
        right: -12px;
        font-family: Geometria;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-transform: uppercase;
        color: #fff; }
    .menu .display__icon {
      display: block;
      height: 28px; }
    .menu .display__icon-logo {
      display: block;
      height: 21px; }
    .menu .display__local {
      width: 28px;
      height: 28px;
      border: 1px solid #E4E4E4;
      border-radius: 20px;
      position: relative;
      left: -7px; }
    .menu .display__logo {
      position: relative;
      left: -8px; }
    .menu .display__call {
      width: 30px;
      height: 30px;
      background-color: #D1152E;
      border-radius: 30px;
      position: relative;
      left: -8px; }
    .menu .display__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 9px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
    .menu .display__menu-1 {
      display: none; }
    .menu .display__menu-2 {
      display: none; }
    .menu .display__menu-3 {
      display: none; }
    .menu .display .display__slidear-one, .menu .display .display__slidear-two {
      position: relative; }
    .menu .display .slick-slide, .menu .display .slick-initialized {
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .menu .display .display__slider-button {
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      cursor: pointer; }
    .menu .display .display__button {
      border: none;
      background-color: #fff;
      height: 17px;
      padding: 1px 10px;
      border-radius: 100px;
      color: #808080;
      font-family: Geometria;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 1em;
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      cursor: pointer; }
      .menu .display .display__button:hover {
        color: #ffffff;
        background: #D1152E; }
    .menu .display .display__button--active {
      color: #ffffff;
      background: #D1152E;
      margin-left: 3px; }
    .menu .display .display__menu:hover .display__button--active {
      color: #808080;
      background-color: #fff; }
    .menu .display .display__menu .display__button--active:hover {
      color: #ffffff;
      background: #D1152E; }
    .menu .display .display__menu-1:hover .display__button--active {
      color: #808080;
      background-color: #fff; }
    .menu .display .display__menu-2:hover .display__button--active {
      color: #808080;
      background-color: #fff; }
    .menu .display .display__menu-1 .display__button--active:hover {
      color: #ffffff;
      background: #D1152E; }
    .menu .display .display__menu-2 .display__button--active:hover {
      color: #ffffff;
      background: #D1152E; }
    .menu .display__main {
      width: 100%;
      height: 448px;
      background: #232121;
      text-align: center;
      margin-top: -20px;
      border-radius: 0px 0px 25px 25px;
      overflow: hidden;
      position: relative; }
    .menu .display__h2 {
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      color: #FFFFFF;
      letter-spacing: 0.05em;
      margin: 30px 0 0 0px; }
    .menu .display__p {
      font-family: Geometria;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #FFFFFF;
      width: 181px;
      margin: 15px auto;
      margin-left: 58px; }
    .menu .display__number {
      display: none; }
    .menu .display__p--red {
      color: #D1152E;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px; }
    .menu .display__proposition {
      font-family: Geometria;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      margin: 0 auto;
      width: 227px;
      margin-top: -10px;
      margin-left: 35px; }
    .menu .display__slider-button {
      background: #D1152E;
      border-radius: 100px;
      padding: 6px 50px;
      border: none;
      font-family: Geometria;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      margin-top: 16px;
      margin-left: -3px; }
    .menu .display__background-img {
      -o-object-fit: cover;
         object-fit: cover;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      margin-top: 26px; }
    .menu .display .slick-list {
      position: relative; }
    .menu .display .slick-dots {
      position: absolute;
      top: 406px;
      left: 77px;
      z-index: 50;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      list-style: none; }
    .menu .display .slick-dots button {
      background: #6B6B6B;
      color: transparent;
      border: none;
      border-radius: 50%;
      width: 0px;
      height: 11px;
      outline: none;
      cursor: pointer; }
    .menu .display .slick-dots li {
      margin-right: 5px; }
    .menu .display .slick-dots li[class="slick-active"] button {
      background: #D1152E; }
  .menu__center {
    width: 100%;
    margin-top: 250px;
    margin-left: 30px; }
  .menu__center-title {
    width: 212px;
    font-family: Monument Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 71px;
    margin-top: 34px;
    position: relative; }
    .menu__center-title::before {
      content: "03 /10";
      font-family: Monument Extended;
      font-style: normal;
      font-weight: 900;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      position: absolute;
      top: -52px;
      left: -71px; }
  .menu__center-table {
    width: 39px;
    height: 19px;
    border-spacing: 0px;
    border-collapse: collapse;
    position: relative;
    top: 87px; }
  .menu__center-table-1 {
    display: none; }
  .menu__center-table-2 {
    display: none; }
  .menu__center-table-3 {
    display: none; }
  .menu__center-table-4 {
    display: none;
    position: relative;
    z-index: 50; }
  .menu__center-block {
    border: 1px solid #4C4C4C;
    width: 6px;
    height: 6px;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
  .menu__center-block--active {
    background: #D1152E; }
  .menu__center-table:hover .menu__center-block--active {
    background: transparent; }
  .menu__center-table-1:hover .menu__center-block--active {
    background: transparent; }
  .menu__center-table-2:hover .menu__center-block--active {
    background: transparent; }
  .menu__center-table-3:hover .menu__center-block--active {
    background: transparent; }
  .menu__center-table-4:hover .menu__center-block--active {
    background: transparent; }
  .menu__center-block:hover {
    background: #D1152E; }
  .menu .menu__center-block--active:hover {
    background: #D1152E; }
  .menu__center-description {
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A7A7A7;
    width: 233px;
    margin-top: 49px; }
  .menu__grey-block {
    width: 330px;
    height: 15px;
    background: #808080;
    margin-top: 29px;
    margin-left: -15px;
    position: relative; }
    .menu__grey-block::before {
      content: "#808080";
      font-family: Monument Extended;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 24px;
      text-transform: uppercase;
      color: #A7A7A7;
      position: absolute;
      top: 22px; }
  .menu__colors {
    margin-top: 52px;
    margin-left: 86px; }
  .menu__colors-description {
    width: 248px;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A7A7A7;
    margin-left: -15px; }
  .menu__red-block {
    width: 245px;
    height: 15px;
    margin-left: -15px;
    margin-top: 31px;
    background: #D1152E;
    position: relative; }
    .menu__red-block::before {
      content: "#D1152E";
      font-family: Monument Extended;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 24px;
      text-transform: uppercase;
      color: #A7A7A7;
      position: absolute;
      top: 26px; }
  .menu__black-grey-block {
    width: 245px;
    height: 15px;
    margin-top: 70px;
    margin-left: -15px;
    background: #4B4B4B;
    position: relative; }
    .menu__black-grey-block::before {
      content: "#4B4B4B";
      font-family: Monument Extended;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 24px;
      text-transform: uppercase;
      color: #A7A7A7;
      position: absolute;
      top: 26px; }

.main {
  min-width: 360px;
  width: 100%;
  height: 508px;
  background: #151414;
  margin-top: -64px; }
  .main .main-inner {
    max-width: 360px;
    width: 100%;
    margin: 0 auto; }
  .main .main__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    margin-left: 29px; }
    .main .main__top h4 {
      display: block;
      margin-top: 73px;
      font-family: Monument Extended;
      font-style: normal;
      font-weight: 900;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.05em;
      color: #FFFFFF; }
    .main .main__top h3 {
      display: block;
      width: 127px;
      margin-top: 119px;
      margin-left: 23px;
      font-family: Monument Extended;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .main .main__top .main__ul {
      margin: 0;
      margin-left: 52px;
      margin-top: 19px;
      padding: 0;
      list-style: none;
      color: #A7A7A7; }
    .main .main__top .main__li {
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      color: #A7A7A7;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 18px; }
    .main .main__top .main__li--last {
      margin-top: 18px;
      color: #FFFFFF; }
  .main .main__bottom {
    margin-left: 29px; }
    .main .main__bottom p {
      width: 248px;
      display: block;
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #A7A7A7;
      margin-top: 14px;
      margin-left: 2px; }
    .main .main__bottom a {
      margin-left: 72px;
      margin-top: 21px;
      display: block;
      font-family: Monument Extended;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      color: #FFFFFF; }
    .main .main__bottom span {
      margin-left: 72px;
      margin-top: 10px;
      display: block;
      width: 227px;
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #A7A7A7; }

@media (min-width: 768px) {
  .header {
    min-width: 768px;
    width: 100%; }
    .header__title {
      width: 149px;
      height: 440px;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0; }
      .header__title h4 {
        margin-left: 40px;
        margin-top: 90px; }
      .header__title p {
        margin-left: 40px; }
      .header__title h1 {
        margin-left: 40px;
        font-size: 80px;
        line-height: 80px;
        width: 504px;
        letter-spacing: 0;
        margin-top: 41px; }
        .header__title h1::before {
          right: -69px;
          bottom: -1px; }
        .header__title h1 span {
          margin-left: -24px; }
      .header__title h5 {
        margin-top: 57px;
        margin-left: 60px; }
    .header__background-img {
      height: 488px; }
    .header__top-info {
      width: 224px;
      height: 440px; }
    .header__list {
      display: block; }
    .header__ul {
      list-style-type: none;
      margin-top: 40px;
      margin-left: -22px; }
    .header__li {
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      color: #A7A7A7;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 18px; }
    .header .header__year {
      margin-top: 33px;
      margin-right: 42px; }
    .header .header__box-1 {
      right: 42px;
      margin-top: 15px; }
    .header__box {
      display: none; }
    .header__box-1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 181px;
      height: 46px; }

  .main {
    width: 100%;
    height: 415px; }
    .main .main-inner {
      max-width: 768px;
      width: 100%;
      margin: 0 auto; }
      .main .main-inner .main__top {
        margin-left: 100px; }
        .main .main-inner .main__top h4 {
          margin-top: 90px; }
        .main .main-inner .main__top h3 {
          margin-left: 59px;
          margin-top: 91px;
          text-align: right; }
      .main .main-inner .main__ul {
        margin-left: 275px;
        margin-top: -17px; }
      .main .main-inner .main__li--last {
        margin-top: 37px; }
      .main .main-inner .main__li {
        font-size: 12px; }
      .main .main-inner .main__bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: 335px; }
        .main .main-inner .main__bottom p {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2;
          margin-left: 0;
          margin-top: 11px;
          width: 285px; }
        .main .main-inner .main__bottom a {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          font-family: Geometria;
          font-style: normal;
          font-weight: normal;
          margin-left: 0;
          margin-top: -16px; }
        .main .main-inner .main__bottom span {
          -webkit-box-ordinal-group: 4;
              -ms-flex-order: 3;
                  order: 3;
          margin-left: 0;
          margin-top: 3px;
          width: 283px; }

  .menu {
    min-width: 768px; }
    .menu .menu-inner {
      max-width: 768px;
      width: 100%;
      margin: 0 auto; }
    .menu__table {
      display: none; }
    .menu__table-1 {
      display: block;
      position: relative;
      z-index: 5;
      width: 262px;
      height: 64px;
      border-spacing: 0px;
      border-collapse: collapse;
      margin: 36px 0 0 60px; }
      .menu__table-1::before {
        content: "address";
        position: absolute;
        font-family: Monument Extended;
        font-style: normal;
        font-weight: 900;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #787878;
        top: 69px;
        left: 1px;
        top: 78px; }
    .menu__background-img {
      width: 432px;
      height: 387px; }
    .menu .display {
      width: 561px;
      height: 298px;
      background: #000000;
      border-radius: 40px;
      border: 10px solid black;
      position: absolute;
      top: 70px;
      right: 6px;
      z-index: 20; }
      .menu .display__header {
        width: 558px;
        height: 35px;
        border-radius: 30px 30px 0px 0px;
        position: relative;
        top: 2px;
        left: 0px;
        z-index: 5; }
      .menu .display__top {
        display: none; }
      .menu .display__menu {
        display: none; }
      .menu .display__menu-1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 6px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative; }
      .menu .display__button--padding {
        padding: 1px 13px; }
      .menu .display__main {
        width: 558px;
        height: 285px;
        background: #232121;
        text-align: center;
        border-radius: 25px;
        overflow: visible;
        position: relative;
        top: -2px;
        left: 2px; }
      .menu .display__slider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
      .menu .display .slick-dots {
        top: 112px;
        left: -31px;
        -webkit-transform: rotate(89deg);
                transform: rotate(89deg); }
      .menu .display__background-img {
        -o-object-fit: contain;
           object-fit: contain;
        width: 194px;
        height: 176px;
        margin: 0 auto;
        position: relative;
        top: -151px;
        left: -117px; }
      .menu .display__h2 {
        top: 30px;
        left: 69px;
        font-size: 26px;
        position: relative; }
      .menu .display__number {
        display: block;
        position: absolute;
        left: 14px;
        bottom: 142px;
        font-family: Geometria;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        color: #888888; }
      .menu .display__p {
        position: relative;
        top: 24px;
        left: 111px;
        width: 189px;
        margin: 15px auto;
        text-align: left; }
      .menu .display__proposition {
        position: relative;
        top: 21px;
        left: 127px;
        width: 222px;
        text-align: left;
        margin: 0 auto;
        font-size: 20px;
        letter-spacing: 0.05em; }
      .menu .display__slider-button {
        position: relative;
        left: 97px;
        top: 24px; }
      .menu .display .display__background-img--size {
        -o-object-fit: contain;
           object-fit: contain;
        width: 238px;
        height: 204px;
        margin: 0 auto;
        position: relative;
        top: -120px;
        left: -139px; }
      .menu .display .display__button {
        font-size: 12px;
        height: 20px; }
      .menu .display .slick-slide, .menu .display .slick-initialized {
        height: 280px; }
    .menu__list {
      margin-top: -168px;
      margin-left: 20px; }
    .menu__li {
      font-size: 12px; }
    .menu__center-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .menu__center-title {
      margin-left: 56px;
      margin-top: -122px;
      position: relative;
      width: 135px; }
      .menu__center-title::before {
        top: -32px;
        left: -49px; }
    .menu__center-description {
      width: 234px;
      margin-top: -100px;
      position: relative;
      left: 51px;
      top: -100px;
      margin-top: 0px; }
    .menu__grey-block {
      width: 120px;
      height: 170px;
      background: #4B4B4B;
      top: -150px;
      right: -106px; }
      .menu__grey-block::before {
        content: "address";
        position: absolute;
        font-family: Monument Extended;
        font-style: normal;
        font-weight: 900;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #787878;
        top: 69px;
        left: 1px;
        content: "#4B4B4B";
        top: 187px;
        left: 46px; }
    .menu__center-table-1 {
      display: block;
      border-collapse: collapse;
      position: relative;
      width: 64px;
      height: 19px;
      left: 31px;
      top: 5px; }
    .menu__center-table {
      display: none; }
    .menu__colors-description {
      width: 273px;
      position: relative;
      top: -228px;
      left: 49px; }
    .menu__red-block {
      width: 89px;
      position: relative;
      bottom: 161px;
      left: -55px;
      margin: 0; }
      .menu__red-block::before {
        top: 30px; }
    .menu__black-grey-block {
      width: 209px;
      position: relative;
      bottom: 176px;
      left: 220px;
      margin: 0; }
      .menu__black-grey-block::before {
        content: "#808080";
        top: 30px; } }
@media (min-width: 960px) {
  .header {
    min-width: 960px; }
    .header__title {
      width: 192px;
      height: 480px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      .header__title h4 {
        margin-left: 47px;
        margin-top: 110px; }
      .header__title p {
        margin-left: 47px;
        margin-top: -15px; }
      .header__title h1 {
        font-size: 98px;
        line-height: 98px;
        width: 714px;
        margin-left: 44px;
        margin-top: 36px; }
        .header__title h1::before {
          right: -43px;
          bottom: -2px; }
        .header__title h1 span {
          margin-left: -28px; }
      .header__title h5 {
        margin-top: -2px;
        margin-left: 72px; }
    .header__background-img {
      height: 540px; }
    .header__top-info {
      width: 297px;
      height: 480px; }
    .header .header__year {
      margin-top: 35px;
      margin-right: 52px; }
    .header__ul {
      margin-top: 39px;
      margin-left: -16px; }
    .header__box-1 {
      display: none; }
    .header__box-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 244px;
      height: 63px;
      right: 53px;
      margin-top: 15px; }

  .main {
    width: 100%;
    height: 402px; }
    .main .main-inner {
      max-width: 960px;
      width: 100%;
      margin: 0 auto; }
      .main .main-inner .main__top {
        margin-left: 160px; }
        .main .main-inner .main__top h4 {
          margin-top: 79px; }
        .main .main-inner .main__top h3 {
          margin-left: 74px;
          margin-top: 76px; }
        .main .main-inner .main__top .main__ul {
          margin-left: 370px;
          margin-top: -30px; }
      .main .main-inner .main__bottom {
        margin-left: 410px; }
        .main .main-inner .main__bottom a {
          margin-top: -21px; }
        .main .main-inner .main__bottom p {
          margin-top: 14px; }

  .menu {
    min-width: 960px; }
    .menu .menu-inner {
      max-width: 960px;
      width: 100%;
      margin: 0 auto; }
    .menu__table-1 {
      margin: 36px 0 0 40px; }
      .menu__table-1::before {
        content: "address";
        position: absolute;
        font-family: Monument Extended;
        font-style: normal;
        font-weight: 900;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #787878;
        top: 69px;
        left: 1px;
        left: 0px;
        top: 78px; }
    .menu__background-img {
      width: 582px;
      height: 422px; }
    .menu__list {
      margin-top: -145px;
      margin-left: 0px; }
    .menu .display {
      width: 680px;
      height: 330px;
      top: 73px;
      right: 133px; }
      .menu .display__header {
        width: 679px;
        height: 35px;
        top: 0px;
        left: 1px; }
      .menu .display__menu-1 {
        display: none; }
      .menu .display__menu-2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 8px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative; }
      .menu .display .display__button {
        padding: 1px 7px; }
      .menu .display .slick-initialized {
        height: 300px;
        width: 681px;
        border-radius: 0px 0 30px 30px; }
      .menu .display__main {
        width: 680px;
        height: 294px;
        border-radius: 0px 0 30px 30px;
        top: 19px;
        left: 3px;
        background: #151414; }
      .menu .display .display__h2 {
        top: 12px;
        left: 82px;
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.08em; }
      .menu .display .display__p {
        width: 221px;
        top: 2px;
        left: 129px; }
      .menu .display .display__proposition {
        top: 0px;
        left: 167px;
        letter-spacing: 0.05em;
        font-size: 25px;
        line-height: 27px;
        width: 299px; }
      .menu .display .display__slider-button {
        left: 99px;
        top: 2px; }
      .menu .display .display__background-img {
        width: 257px;
        height: 208px;
        top: -190px;
        left: -144px; }
      .menu .display .display__number {
        left: 12px;
        bottom: 148px; }
      .menu .display .slick-dots {
        top: 106px;
        left: -32px; }
      .menu .display .display__background-img--size {
        top: -139px; }
    .menu__center-title {
      margin-left: 48px;
      margin-top: -134px; }
    .menu__grey-block {
      width: 165px;
      height: 196px;
      top: -194px;
      right: -211px; }
      .menu__grey-block::before {
        top: 215px;
        left: 90px; }
    .menu__center-description {
      width: 289px;
      left: 114px;
      top: -82px; }
    .menu__colors-description {
      width: 256px;
      top: -288px;
      left: 59px; }
    .menu__center-table-1 {
      display: none; }
    .menu__center-table-2 {
      display: block;
      border-collapse: collapse;
      position: relative;
      width: 82px;
      height: 19px;
      left: 10px;
      top: -10px; }
    .menu__red-block {
      width: 145px;
      height: 20px;
      bottom: 237px;
      left: -101px; }
      .menu__red-block::before {
        top: 35px; }
    .menu__black-grey-block {
      width: 285px;
      height: 20px;
      bottom: 257px;
      left: 293px;
      background: #808080; } }
@media (min-width: 1366px) {
  .header {
    min-width: 1366px; }
    .header__title {
      width: 281px;
      height: 590px; }
      .header__title h4 {
        margin-left: 133px;
        margin-top: 117px;
        font-size: 14px;
        line-height: 16px; }
      .header__title p {
        margin-left: 132px;
        margin-top: -13px;
        font-size: 12px;
        line-height: 16px; }
      .header__title h1 {
        margin-left: 98px;
        margin-top: 84px;
        font-size: 115px;
        line-height: 110px; }
        .header__title h1::before {
          right: -223px;
          bottom: 11px; }
        .header__title h1 span {
          margin-left: -34px; }
      .header__title h5 {
        margin-top: 85px;
        font-size: 12px;
        line-height: 16px;
        margin-left: 131px; }
    .header__background-img {
      width: 673px;
      height: 680px; }
    .header__top-info {
      width: 413px;
      height: 590px; }
    .header .header__year {
      margin-top: 49px;
      margin-right: 97px;
      font-size: 12px;
      line-height: 16px; }
    .header__ul {
      margin-top: 36px;
      margin-left: -7px; }
    .header__li {
      font-size: 14px;
      line-height: 22px; }
    .header__box-1 {
      display: none; }
    .header__box-2 {
      display: none; }
    .header__box-3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 316px;
      height: 82px;
      right: 96px;
      margin-top: 44px; }

  .main {
    height: 480px;
    margin-top: -93px; }
    .main .main-inner {
      max-width: 1366px;
      width: 100%;
      margin: 0 auto; }
      .main .main-inner .main__top {
        margin-left: 282px;
        padding-top: 96px; }
        .main .main-inner .main__top h3 {
          margin-left: 100px;
          margin-top: 72px;
          font-size: 20px;
          line-height: 24px; }
        .main .main-inner .main__top .main__ul {
          margin-left: 504px;
          margin-top: -57px; }
        .main .main-inner .main__top .main__li {
          font-size: 14px;
          line-height: 22px; }
        .main .main-inner .main__top .main__li--last {
          margin-top: 44px; }
      .main .main-inner .main__bottom {
        margin-left: 558px; }
        .main .main-inner .main__bottom a {
          margin-top: 0px;
          font-size: 14px;
          line-height: 24px; }
        .main .main-inner .main__bottom p {
          width: 357px; }
        .main .main-inner .main__bottom span {
          margin-top: 7px;
          width: 355px; }

  .menu {
    min-width: 1366px; }
    .menu .menu-inner {
      max-width: 1366px;
      width: 100%;
      margin: 0 auto; }
    .menu__background-img {
      width: 767px;
      height: 572px; }
    .menu__table-1 {
      display: none; }
    .menu__table-2 {
      display: block;
      position: relative;
      z-index: 5;
      width: 289px;
      height: 82px;
      border-spacing: 0px;
      border-collapse: collapse;
      margin: 85px 0 0 132px; }
      .menu__table-2::before {
        content: "address";
        position: absolute;
        font-family: Monument Extended;
        font-style: normal;
        font-weight: 900;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #787878;
        top: 69px;
        left: 1px;
        font-size: 12px;
        left: 0px;
        top: 97px; }
    .menu__list {
      margin-top: 28px;
      margin-left: 59px; }
    .menu__li {
      font-size: 14px;
      line-height: 22px; }
    .menu__li--last {
      margin-top: 44px; }
    .menu .display {
      width: 906px;
      height: 510px;
      top: 111px;
      right: 158px; }
      .menu .display__header {
        width: 720px;
        height: 91px;
        top: 354px;
        left: -12px;
        border-radius: 15px; }
      .menu .display__menu-2 {
        display: none; }
      .menu .display__menu-3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .menu .display__big-button {
        width: 90px;
        height: 91px;
        border-radius: 15px;
        border: none;
        background-color: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-weight: 700;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: -0.08em;
        color: #000000;
        font-family: Geometria;
        font-style: normal;
        cursor: pointer;
        outline: none; }
      .menu .display .display__icon {
        width: 46px;
        height: 46px;
        margin-top: 15px;
        margin-bottom: 2px; }
      .menu .display .display__big-button--active {
        background: #D1152E;
        color: #ffffff; }
      .menu .display .display__menu-3:hover .display__big-button--active {
        background-color: #fff;
        color: #000000; }
      .menu .display .display__menu-3 .display__big-button--active:hover {
        background: #D1152E;
        color: #ffffff; }
      .menu .display .display__big-button:hover {
        background: #D1152E;
        color: #ffffff; }
      .menu .display .display__big-button:hover svg path {
        fill: #000000; }
      .menu .display .display__big-button:hover svg circle {
        fill: #ffffff; }
      .menu .display .display__big-button--active svg path {
        fill: #000000; }
      .menu .display .display__big-button--active svg circle {
        fill: #ffffff; }
      .menu .display .display__menu-3:hover .display__big-button--active svg path {
        fill: #ffffff; }
      .menu .display .display__menu-3:hover .display__big-button--active svg circle {
        fill: #D1152E; }
      .menu .display .display__menu-3 .display__big-button--active:hover svg path {
        fill: #000000; }
      .menu .display .display__menu-3 .display__big-button--active:hover svg circle {
        fill: #ffffff; }
      .menu .display__main {
        width: 894px;
        height: 500px;
        border-radius: 30px;
        top: -66px;
        left: 6px; }
      .menu .display .display__background-img {
        top: -172px;
        left: -234px;
        width: 274px;
        height: 246.77px; }
      .menu .display .slick-dots {
        top: 132px;
        left: -26px; }
      .menu .display .display__number {
        left: 18px;
        bottom: 182px; }
      .menu .display .display__h2 {
        top: 54px;
        left: 54px;
        font-size: 35px;
        line-height: 43px; }
      .menu .display .display__p {
        font-family: Geometria;
        width: 370px;
        top: 46px;
        font-size: 13px;
        line-height: 16px;
        left: 164px; }
      .menu .display .display__p--red {
        font-size: 13px;
        line-height: 16px; }
      .menu .display .display__proposition {
        top: 51px;
        left: 171px;
        letter-spacing: 0.03em;
        font-size: 30px;
        line-height: 34px;
        width: 386px; }
      .menu .display .slick-initialized {
        height: 340px;
        width: 891px; }
      .menu .display .slick-slide {
        height: 340px;
        width: 891px; }
      .menu .display .slick-list {
        height: 340px; }
      .menu .display .display__slider-button {
        left: 60px;
        top: 47px; }
      .menu .display .display__background-img--size {
        width: 412.25px;
        height: 330px;
        position: relative;
        z-index: -1;
        top: -215px;
        left: -157px; }
    .menu__center-title {
      margin-left: 160px;
      margin-top: -21px;
      font-size: 20px;
      line-height: 24px;
      width: 174px; }
      .menu__center-title::before {
        top: -71px;
        left: -49px; }
    .menu__center-description {
      width: 391px;
      left: 103px;
      top: 46px; }
    .menu__grey-block {
      width: 207px;
      height: 226px;
      top: -120px;
      right: -230px; }
      .menu__grey-block::before {
        top: 238px;
        left: 132px; }
    .menu__colors-description {
      width: 256px;
      top: -205px;
      left: 181px; }
    .menu__center-table-2 {
      display: none; }
    .menu__center-table-3 {
      display: block;
      border-collapse: collapse;
      position: relative;
      width: 92px;
      height: 19px;
      left: 102px;
      top: 103px; }
    .menu__red-block {
      width: 183px;
      height: 25px;
      bottom: 159px;
      left: -17px; }
    .menu__black-grey-block {
      width: 395px;
      height: 25px;
      bottom: 184px;
      left: 443px; }
      .menu__black-grey-block::before {
        top: 36px; } }
@media (min-width: 1400px) {
  .header {
    min-width: 1400px; }
    .header__title h4 {
      margin-left: 148px; }
    .header__title p {
      margin-left: 148px; }
    .header__title h1 {
      margin-left: 115px; }
    .header__title h5 {
      margin-top: 85px;
      margin-left: 148px; }
    .header__top-info {
      width: 413px;
      height: 590px; }
    .header .header__year {
      margin-right: 115px; }
    .header .header__box-3 {
      right: 113px; }

  .main {
    width: 100%;
    height: 480px; }
    .main .main-inner {
      max-width: 1400px;
      width: 100%;
      margin: 0 auto; }
      .main .main-inner .main__top {
        margin-left: 298px; }
        .main .main-inner .main__top .main__ul {
          margin-top: -7px; }
      .main .main-inner .main__bottom {
        margin-left: 573px; }
        .main .main-inner .main__bottom a {
          margin-top: -8px; }

  .menu {
    min-width: 1400px; }
    .menu .menu-inner {
      max-width: 1400px;
      width: 100%;
      margin: 0 auto; }
    .menu__table-2 {
      margin: 84px 0 0 148px; }
    .menu__background-img {
      width: 783px; }
    .menu .display {
      right: 176px; }
    .menu__list {
      margin-top: 27px;
      margin-left: 75px; }
    .menu__center-title {
      margin-left: 176px;
      margin-top: -20px; }
    .menu__colors-description {
      width: 256px;
      top: -204px;
      left: 197px; }
    .menu__center-table-3 {
      left: 118px;
      top: 104px; }
    .menu__red-block {
      bottom: 158px;
      left: -1px; }
    .menu__center-description {
      left: 103px;
      top: 47px; }
    .menu__grey-block {
      top: -119px; }
    .menu__black-grey-block {
      bottom: 183px;
      left: 460px; }
      .menu__black-grey-block:before {
        top: 35px;
        left: -1px; } }
@media (min-width: 1920px) {
  .header {
    min-width: 1920px; }
    .header__title {
      width: 455px;
      height: 780px; }
      .header__title h4 {
        margin-left: 255px;
        font-size: 16px;
        margin-top: 250px; }
      .header__title p {
        margin-left: 255px;
        margin-top: -14px; }
      .header__title h1 {
        margin-left: 255px;
        margin-top: 58px;
        font-size: 150px;
        line-height: 130px;
        width: 856px; }
        .header__title h1::before {
          right: -262px;
          bottom: -3px; }
        .header__title h1 span {
          margin-left: -45px; }
      .header__title h5 {
        margin-top: 118px;
        margin-left: 295px; }
    .header__background-img {
      width: 830px;
      height: 883px; }
    .header__top-info {
      width: 635px;
      height: 780px; }
    .header__ul {
      margin-top: 111px;
      margin-left: 0px; }
    .header__li {
      font-size: 16px;
      line-height: 24px; }
    .header .header__year {
      margin-right: 254px;
      margin-top: 76px; }
    .header__box-3 {
      display: none; }
    .header__box-4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

  .main {
    min-width: 1920px;
    height: 605px;
    margin-top: -107px; }
    .main .main-inner {
      max-width: 1920px;
      width: 100%;
      margin: 0 auto; }
      .main .main-inner .main__top {
        margin-left: 455px;
        padding-top: 171px; }
        .main .main-inner .main__top h3 {
          font-size: 24px;
          line-height: 26px;
          margin-left: 224px;
          margin-top: 72px; }
        .main .main-inner .main__top .main__ul {
          margin-top: -70px;
          margin-left: 560px; }
        .main .main-inner .main__top .main__li {
          font-size: 16px;
          line-height: 24px; }
        .main .main-inner .main__top .main__li--last {
          margin-top: 48px; }
      .main .main-inner .main__bottom {
        margin-left: 855px; }
        .main .main-inner .main__bottom a {
          font-size: 16px;
          line-height: 24px; }
        .main .main-inner .main__bottom p {
          font-size: 14px;
          line-height: 18px;
          width: 430px;
          margin-top: 19px; }
        .main .main-inner .main__bottom span {
          width: 430px;
          margin-top: 11px;
          font-size: 14px;
          line-height: 18px; }

  .menu {
    min-width: 1920px; }
    .menu .menu-inner {
      max-width: 1920px;
      width: 100%;
      margin: 0 auto; }
    .menu__background-img {
      width: 1064px;
      height: 690px; }
    .menu__table-2 {
      display: none; }
    .menu__table-3 {
      display: block;
      position: absolute;
      z-index: 5;
      width: 343px;
      height: 109px;
      border-spacing: 0px;
      border-collapse: collapse;
      margin: 99px 0 0 295px; }
      .menu__table-3::before {
        content: "address";
        position: absolute;
        font-family: Monument Extended;
        font-style: normal;
        font-weight: 900;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #787878;
        top: 69px;
        left: 1px;
        font-size: 12px;
        left: 0px;
        top: 124px; }
    .menu .display {
      width: 1120px;
      height: 630px;
      top: 137px;
      right: 325px; }
      .menu .display__header {
        width: 880px;
        height: 110px;
        top: 433px;
        left: 39px; }
      .menu .display__main {
        width: 1110px;
        height: 620px;
        top: -87px;
        left: 6px; }
      .menu .display .display__h2 {
        top: 78px;
        left: 120px;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.08em; }
      .menu .display .display__p {
        font-family: Geometria;
        width: 465px;
        top: 93px;
        font-size: 15px;
        line-height: 20px;
        left: 266px;
        letter-spacing: 0.04em; }
      .menu .display .display__p--red {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05px; }
      .menu .display .display__proposition {
        top: 85px;
        left: 259px;
        letter-spacing: 0.05em;
        font-size: 35px;
        line-height: 35px;
        width: 449px; }
      .menu .display .display__slider-button {
        left: 116px;
        width: 163px;
        height: 39px;
        top: 92px; }
      .menu .display .display__big-button {
        width: 110px;
        height: 110px;
        font-size: 13px; }
      .menu .display .display__icon {
        width: 54px;
        height: 54px;
        margin-bottom: 8px; }
      .menu .display .slick-initialized {
        width: 1110px;
        height: 740px; }
      .menu .display .slick-slide {
        width: 1110px;
        height: 740px; }
      .menu .display .slick-list {
        width: 1110px;
        height: 740px; }
      .menu .display .display__background-img {
        top: -176px;
        left: -242px;
        width: 332px;
        height: 299px; }
      .menu .display .slick-dots {
        top: 200px;
        left: -6px; }
      .menu .display .slick-dots li {
        margin-right: 9px; }
      .menu .display .display__number {
        left: 43px;
        bottom: 520px;
        font-size: 12px; }
      .menu .display .display__background-img--size {
        top: -216px;
        left: -148px;
        width: 489px;
        height: 391px; }
    .menu__list {
      margin-top: 138px;
      margin-left: 215px; }
    .menu__li {
      font-size: 16px;
      line-height: 24px; }
    .menu__li--last {
      margin-top: 48px; }
    .menu__center-table-3 {
      display: none; }
    .menu__center-table-4 {
      display: block;
      border-collapse: collapse;
      position: relative;
      width: 100px;
      height: 19px;
      left: 265px;
      top: 205px; }
    .menu__center-title {
      margin-left: 325px;
      margin-top: 54px;
      font-size: 24px;
      line-height: 29px;
      width: 204px; }
      .menu__center-title::before {
        top: -75px; }
    .menu__colors-description {
      width: 361px;
      top: -152px;
      left: 354px;
      font-size: 14px;
      line-height: 18px; }
    .menu__center-description {
      width: 428px;
      left: 196px;
      top: 138px;
      font-size: 14px;
      line-height: 18px; }
    .menu__grey-block {
      width: 250px;
      height: 275px;
      top: -49px;
      right: -343px; }
      .menu__grey-block::before {
        top: 292px;
        left: 175px; }
    .menu__red-block {
      width: 200px;
      height: 30px;
      bottom: 68px;
      left: 139px; }
      .menu__red-block::before {
        top: 45px; }
    .menu__black-grey-block {
      width: 431px;
      height: 30px;
      bottom: 98px;
      left: 738px; }
      .menu__black-grey-block::before {
        top: 45px;
        left: 1px; } }

/*# sourceMappingURL=style.css.map */